@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    background-color: #FFAF9E ;
    font-family: 'roboto', sans-serif;
    padding: 45px 45px;
    text-align: justify;
    font-size: 16px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #AB002A ;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

img {
    border:5px solid black;
    width: 500px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

hr { border: 1px solid black; }

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    background-color: #DEDEDE ;
    border:2px solid black;
}

a { 
    color: #0049a0;
    text-decoration:none;
    font-weight:400;
}

/* BARRA DE NAVEGACIÓN */
.navegacion {
    text-align: center;
    background-color: #DEDEDE;
}

/* FORMULARIO */
.formulario{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #DEDEDE;
}

.formulario h2, .formulario p, .formulario form{
    margin: 0.5em;
}

/* SECCIÓN DE COMENTARIOS */

.comentarios {
    padding: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #DD5944;
}